# Example shared secrets variables
# Replace values locally; file is tracked for reference.
# Real secrets.tfvars will be ignored by Git.

# token = "changeme"
# username = "changeme"
# password = "changeme"
pve_api_url      = "/api2/json"
pve_token_id     = ""
pve_token_secret = ""
pve_ssh_key_path = ""
vm_password      = ""
